name: Agendador do Robo

on:
  schedule:
    # Isso faz o robô rodar automaticamente a cada 2 horas
    - cron: '0 */2 * * *'
  workflow_dispatch: # Permite que você ligue o robô manualmente para testar

jobs:
  rodar-robo:
    runs-on: ubuntu-latest
    steps:
      - name: Baixando o codigo do GitHub
        uses: actions/checkout@v3

      - name: Instalando o Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # Atualizado para evitar o erro de TypeError

      - name: Instalando as ferramentas (requirements)
        run: pip install -r requirements.txt

      - name: Executando o motor do robô
        env:
          INSTA_USER: ${{ secrets.INSTA_USER }}
          INSTA_PASS: ${{ secrets.INSTA_PASS }}
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
        run: python main.py
